<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4</title>
</head>
<body>
<form>
    <div>
        <div>Cost</div>
        <p>
        <div class="price-controls">
            <label class="min-price"><input type="text" name="min-price" value="0"></label>
            <label class="max-price"> - <input type="text" name="max-price" value="400"></label>
        </div>
        <div class="range-controls">
            <div class="scale">
                <div class="bar"></div>
            </div>
            <div class="range-toggle range-toggle-min"></div>
            <div class="range-toggle range-toggle-max"></div>
        </div>
    </div>
    <div>
        <p><a>Models</a></p>
        <div>
            <label>
                <input type="checkbox">
                <span> Abc</span>
            </label>
            <p>
                <label>
                    <input type="checkbox">
                    <span> Bcd</span>
                </label>
        </div>

    </div>
</form>

</body>
</html>