<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SendMessage</title>
</head>
<body>
<form action= "file:///C:/Users/user/source/repos/django/SiteBaseFirst/home/templates/refs.html">
    <select>
        <option>Анонимно</option>
        <option>Подписано</option>
    </select>
    <p><b>Ваше имя:</b><br>
        <input type="text" size="40" name="Имя">
    </p>
    <p><b>Ваше имя:</b><br>
        <input type="text" size="40" name="Email">
    </p>
    <p><b>Сообщение:</b></p>
    <p><textarea name="message"></textarea></p>
    <p><input type="submit"></p>

    <div>
        <b>Способ получения ответа?</b> <br>
        <input name="replyType" type="radio" value="В сообщение" checked id="r1"><label for="r1"> В
        сообщение</label><br>
        <input name="replyType" type="radio" value="Лично" id="r2"><label for="r2"> Лично</label><br>
        <input name="replyType" type="radio" value="Видеозвонок" id="r3"><label for="r3"> Видеозвонок</label><br>
    </div>
    <br>
    <div>
         <p><input type="submit"></p>
    </div>
    <br>
    <a href="file:///C:/Users/user/source/repos/django/SiteBaseFirst/home/templates/refs.html">Go home</a>
</form>
</body>
</html>