<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<table border="1" cellpadding="4" cellspacing="0">
    <caption>История чела</caption>
    <tr>
        <td rowspan="2">Period</td>
        <th colspan="2">Date</th>
        <th rowspan="2">Info</th>
    </tr>
    <tr>
        <th>Start</th>
        <th>End</th>
    </tr>
    <tr>
        <td>Childrenhood</td>
        <td>13.11.2000</td>
        <td>13.11.2015</td>
        <td>It was funny</td>
    </tr>
    <tr>
        <td>Young</td>
        <td>14.11.2015</td>
        <td>09.08.2021</td>
        <td>It was good days</td>
    </tr>
    <tr>
        <td>Adult</td>
        <td>10.08.2021</td>
        <td>15.08.2043</td>
        <td>It even better</td>
    </tr>
    <tr>
        <td>Death</td>
        <td>16.08.2043</td>
        <td>Never</td>
        <td>wow cool story man</td>
    </tr>
</table>
<a href="file:///C:/Users/user/source/repos/django/SiteBaseFirst/home/templates/refs.html">Go home</a>
</body>
</html>