{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    {#<link rel="stylesheet" href="style.css">#}
</head>
<body>
<h1>Bolshakov Dmitry</h1>
<img src="{% static 'resources/_DSF6878.jpg' %}" alt="avatar" height="300">
<div>Random text about a person who close to a random status<br>
    What about me i think this guy is really cool<br>See you later
</div>
<br>
<div><b>Achievments</b>:
    <ol>
        <li>Photography</li>
        <li>Music</li>
        <li>Coding</li>
    </ol>
</div>
<br>
<a href="/home">Go home</a>
</body>
</html>
